<div class="container my-4">
  <h2>Here are all your rental : <%= "#{@user.first_name} #{@user.last_name}" %></h2>
  <% @rentals.each do |rental| %>
  <div class="d-flex flex-column align-items-center my-5 py-3" style="background-color:white; border-radius:10px">
      <p><%=rental.restaurant.name  %> </p>
      <p><%= rental.date %> </p>
      <p><%= rental.number_of_people %> people </p>
      <p>REVIEWS:</p>
      <% rental.reviews.each do |review| %>
        <div class="review">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="review-content d-flex justify-content-between">
            <div>
              <p><%=review.rental.user.first_name%> <%=review.rental.user.last_name%></p>
              <p><%=review.description%></p>
            </div>
            <div>
              <p><%=review.rating%></p>
            </div>
          </div>
        </div>
      <% end %>
      <%= simple_form_for [ rental, @review] do |f| %>
        <%=f.input :description %>
        <%=f.input :rating %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
