<h2><%=@restaurant.name%></h2>
<h3><%@restaurant.reviews.each do |review|%></h2>
  <p><%=review.rental.user.first_name%> <%=review.rental.user.last_name%></p>
  <p><%=review.description%></p>
  <p><%=review.rating%></p>
<%end%>

<h3>Booking</h3>
<!-- app/views/restaurants/_form.html.erb -->
<%= simple_form_for [ @restaurant, @rental] do |f| %>
  <%=f.input :date %>
  <%=f.input :number_of_people %>
  <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>

<h3>REVIEWS</h3>
<% @restaurant.reviews.each do |review| %>
  <p><%= "#{review.rental.user.first_name} #{review.rental.user.last_name}" %></p>
  <p><%= review.description %></p>
  <p><%= review.rating %></p>
<% end %>
